<h1>Results</h1>
<% playerResources.sort((a, b) => b.resources - a.resources).forEach((player, index) => { %>
    <p><%= index + 1 %>. <%= player.name %>: <%= player.resources %></p>
<% }); %>
<button onclick="reset()">Start Over</button>