<h1>How many players?</h1>
<button onclick="handlePlayerCount(1)">1 Player</button>
<% for(let i = 2; i <= 9; i++) { %>
    <button onclick="handlePlayerCount(<%= i %>)"><%= i %> Players</button>
<% } %>
