<h2>How many players?</h2>
<button onclick="setPlayerCount(1); next();">1 Player</button>
<% for(let i = 2; i <= 9; i++) { %>
    <button onclick="setPlayerCount(<%= i %>); next();"><%= i %> Players</button>
<% } %>
