<div id="page-title"><img src="images/victory-10.png" alt="10 Victory Points"/><h2>Results</h2><img src="images/victory-10.png" alt="10 Victory Points"/></div>
<% playerData.sort((a, b) => b.score - a.score).forEach((player, index) => { %>
    <div id="player-score"><%= player.name %>: <%= player.score %></div>
<% }); %>
<div id="hwrapper">
    <button onclick="prev();">Back</button>
    <button onclick="reset()">Start Over</button>
</div>