<div id="page-title"><img id="minpad-right" src="images/small-green.png" alt="Small Green Cube"/><img id="minpad-left" src="images/small-white.png" alt="Small White Cube"/><h2>Small Cubes</h2><img id="minpad-right" src="images/small-brown.png" alt="Small Brown Cube"/><img id="minpad-left" src="images/small-unity.png" alt="Small Unity Wild Cube"/></div>
<%= renderPlayerAndResourceInputs() %>
