<div id="page-title"><img src="images/victory-1.png" alt="1 Victory Point"/><h2>Victory Points</h2><img src="images/victory-1.png" alt="1 Victory Point"/></div>
<% for(let i = 0; i < playerData.length; ++i) { %>
    <div id="hwrapper">
        <%= renderPlayerNameInput(i) %>
        <%= renderResourceInput(i) %>
    </div>
<% } %>
    <div id="hwrapper">
        <button onclick="setNames(); setCurrentResource(); prev();">Back</button>
        <button onclick="setNames(); setCurrentResource(); next();">Next</button>
    </div>